.box-perso{
    border-color: rgba(21, 0, 255, 0.536);
    border-style: solid ;
    border-radius: 3%;
    border-width: 10px ;
    padding: 3px;
    float: left;
    background-color: rgba(132, 0, 255, 0.57);
    margin: 0 20px 0 20px;
    justify-content: center;
    max-width: 300px;
}

.box{
    display: inline-block;
    justify-content: space-evenly;  
}

.center{
    text-align: center;
    justify-content: space-evenly;
}